.qtyButton {
  width: 50px;
  height: 100%;
  border: 1px solid #d3d4d5;
  background-color: $gray-100;

  @media (max-width: 768px) {
    width: 25px;
  }
}

.table-cart-font {
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.table-qty-width {
  width: 140px;

  @media (max-width: 768px) {
    width: 70px;
  }
}

.qtyButton:hover {
  background-color: #d3d4d5;
}

.qtyInput {
  width: 50px;
  border: 1px solid #d3d4d5;
  background-color: $gray-100;
  outline: none;

  @media (max-width: 768px) {
    width: 25px;
  }
}