.indexBanner {
    background-image: url('/src/assets/image/indexBanner.jpg');
    background-position: center center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;

    @media (max-width: 768px) {
        text-align: center;
        height: 65vh
    }
}

.index-service-icon {
    font-size: 3rem;
}

.introduce-img-size {
    max-height: 450px;
    width: 100%;
}