.custom-btn-info a {
    background-color: #f5f5f5;
    border: 1px solid $gray-300;
}

.custom-btn-info a {
    &:hover {
        background-color: #CA0808;
        color: white;
    }
}

.bookmark-icon {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 1.3rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}