.btn-info:hover {
    background-color: #CA0808 !important;
    color: white !important;
}

.bookmark-icon {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 1.3rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}