.productSelect {
    width: 25%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.searchAndSort {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        display: block;
    }
}

.productLinkHover {
    color: #54595F;
}

.productLinkHover:hover {
    color: #CA0808;
}

@media (max-width: 768px) {
    .productSelect {
        width: 100%;
    }
}