.layoutBanner {
  background-image: url('/src/assets/img/layoutBanner/layoutbanner.jpg');
  background-position: center center;
  z-index: 0;
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: 768px) {
    height: 45vh;
  }
}

.layoutBanner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}